[submodule "external/gcn_c"]
	path = external/gcn_c
	url = https://github.com/hallcristobal/gcn_c.git
[submodule "external/libtpw_c"]
	path = external/libtpw_c
	url = https://github.com/kipcode66/libtpw_c.git
